@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

h1.titulo{
    font-family: 'Akaya Kanadaka', cursive;
    padding-top: 5px;
    text-align: center;
    color: white;
    text-shadow: orangered 6px 0px;
}

a.titulo:link{
    color: white;
}

a.titulo:visited{
    color: white;
}

div.encabezado{
    background-color: orange;
    padding-top: 15px;
    padding-bottom: 15px;
}

div.subencabezado{
    background-color: rgb(252, 252, 104);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border: orangered 2px solid;
}

div.principal{
    background-color: palegoldenrod;
    padding-bottom: -100px;
}

p.a{
    background-color: rgb(238, 138, 45);
    color: white;
    position: relative;
    width: 350px;
    height: 150px;
    left: 51%;
    bottom: 350px;
    text-align: center;
    z-index: 1;
}

footer{
    background-color: rgb(252, 252, 104);
    text-align: center;
}
